h1 {
  font-family: Georgia;
  color: black;
  text-align: center;
}

p {
  border-bottom: 1px solid black;
  font-weight: 100;
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
}

h2{
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
  text-align: center;
}

button{
  font-size: 1em;
  padding-top: 50px;
  width: 100%;
  text-align: center;
}

.updates,
.about1,
.about2,
.creator {
  border: 2px solid black;
}

